.logo {
  align-items: center;
  display: flex;
  .loggo-font {
    font-family: "Arizonia", cursive;
    font-size: 1.4em;
    padding: 7px 4px 0;
    color: #5fd1db;
    font-weight: 800;
  }
}

.menu-spacer {
  flex: 1 1 auto;
}
