<div class="container">
  <mat-progress-bar
    [color]="color"
    [mode]="mode"
    [value]="value"
    [bufferValue]="bufferValue"
    *ngIf="buffering"
  >
  </mat-progress-bar>
  <div *ngIf="message" class="success">
    {{ message }}
  </div>
  <div *ngIf="deletionMsg" class="error">
    <mat-error>{{ deletionMsg }}</mat-error>
  </div>

  <mat-grid-list cols="4" rowHeight="40px" [gutterSize]="'40px'" class="cards">
    <mat-grid-tile>
      <button mat-raised-button (click)="addNewCake()">
        New Cake
        <span class="mat-button-wrapper"
          ><mat-icon
            role="img"
            class="mat-icon notranslate material-icons mat-icon-no-color"
            aria-hidden="true"
            data-mat-icon-type="font"
            >add</mat-icon
          ></span
        >
      </button>
    </mat-grid-tile>
    <mat-grid-tile> </mat-grid-tile>
    <mat-grid-tile
      style="margin-top: 14px; font-weight: bolder"
      class="has-text-aligned-right"
    >
      <div *ngIf="!productDetailsPage && cakes.length > 0">
        {{ recordFirstPages }} to {{ currentlyDisplayedRecords }} out of
        {{ cakes.length }} cakes
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="has-text-aligned-right">
      <div *ngIf="!productDetailsPage && cakes.length > 0">
        <mat-form-field>
          <mat-label>Choose one</mat-label>
          <mat-select (selectionChange)="sorter($event)">
            <mat-option value="new">Newest First</mat-option>
            <mat-option value="old">Oldest First</mat-option>
            <mat-option value="asc">Alpha ASC</mat-option>
            <mat-option value="desc">Alpha DESC</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-raised-button routerLink="/" *ngIf="productDetailsPage">
        <span class="mat-button-wrapper"
          ><mat-icon
            role="img"
            class="mat-icon notranslate material-icons mat-icon-no-color"
            aria-hidden="true"
            data-mat-icon-type="font"
            >arrow_back_ios_new</mat-icon
          ></span
        >
        Back
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="!productDetailsPage && cakes.length === 0" class="spinner-cakes">
    <mat-progress-bar
      [color]="color"
      [mode]="mode"
      [value]="value"
      [bufferValue]="bufferValue"
    >
    </mat-progress-bar>
  </div>

  <div class="data-grid" *ngIf="!productDetailsPage && cakes.length > 0">
    <mat-grid-list
      cols="3"
      rowHeight="320px"
      [gutterSize]="'40px'"
      class="cards"
    >
      <mat-grid-tile *ngFor="let cake of cakes.slice(0, sliceNumber)">
        <div class="card-block">
          <img
            src="{{ imageBuilder(cake.imageUrl, 'thumbnail') }}"
            class="cld-responsive"
            alt="{{ cake.name }}"
          />
          <div class="card-cnt">
            <h2>{{ cake.name }}</h2>
            <div class="push">
              <div class="left">
                <button
                  mat-raised-button
                  class="view-details-btn"
                  routerLink="/cake/{{ cake._id }}"
                >
                  View Details
                </button>
              </div>
              <div class="right">
                <button
                  mat-icon-button
                  color="warn"
                  class="remove"
                  (click)="removeCake(cake._id)"
                  aria-label="Example icon button with a heart icon"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-divider class="grid-divider"></mat-divider>

    <button
      mat-raised-button
      (click)="showMore()"
      *ngIf="sliceNumber < cakes.length"
    >
      Load More
      <span class="mat-button-wrapper"
        ><mat-icon
          role="img"
          class="mat-icon notranslate material-icons mat-icon-no-color"
          aria-hidden="true"
          data-mat-icon-type="font"
          >read_more</mat-icon
        ></span
      >
    </button>
  </div>

  <div *ngIf="productDetailsPage">
    <figure class="_cake">
      <div class="_cake__hero">
        <img
          src="{{ imageBuilder(cake.imageUrl, 'hd') }}"
          alt="{{ cake.name }}"
          class="_cake__img"
        />
      </div>
      <div class="_cake__content">
        <div class="_cake__title">
          <h1 class="_cake__heading">🧁 {{ cake.name }}</h1>
        </div>
        <p class="_cake__description">
          {{ cake.comment }}
        </p>
        <div class="_cake__details">
          <p class="_cake__detail">
            <span class="emoji">😋 </span>{{ cake.yumFactor }} yumFactor
          </p>
        </div>
      </div>
    </figure>
  </div>
</div>
